@page {
  size: A4;
  margin: 1.5cm;
  @bottom-center {
    content: counter(page);
  }
}

/* ---------- General Layout ---------- */

.top-bar-bbma,
#navbar-main,
.breadcrumb,
.book-navigation,
.nav-eval,
.alert,
.menu-bbma-wrapper,
#toolbar-administration {
  display: none;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 10pt;
  font-family: Georgia, Times, serif;
  line-height: 1.4;
}

a,
a:link,
a:visited { /* underline all links */
  text-decoration: none !important;
  color:#666;
}

pre, blockquote{ border: 1px solid #999; break-inside: avoid}
thead{ display: table-header-group} 
tr, img{ break-inside: avoid}
img{ max-width:100% !important}
p, h2, h3{ orphans:3; widows:3}
h2, h3{ break-after:avoid; break-inside:avoid}
ul, img { break-inside: avoid;}
p:empty { margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 { text-align:left; font-family: Georgia, Times, serif; color: #000;}
h1 { font-size: 20pt; margin:30pt 0 20pt 0;}
h2 { font-size: 16pt; margin:25pt 0 15pt 0;}
h3 { font-size: 14pt; margin:10pt 0 10pt 0;}
h4 { font-size: 12pt; margin:0;}
h5, h6 { font-size: 10pt; margin:0;}

h1.title { margin-top: 0; }
h1.title::after {
  border: none !important;
}

.node--unpublished {
  padding: 0;
}

details {
  border-color: #999;
  color: #000;
  font-size: 10pt;
}

summary {
  font-size: 10pt !important;
  color:  #000 !important;
}

summary::marker {
  color: #999 !important;
}

#main,
.main-content {
  max-width: none !important;
}

.field--label-inline .field__items { display: inline-block; }
