/* 
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";


body {
  background: $white;
  font-family: $font-family-base;
}

.main-content {
    padding-bottom: 2.5rem;
}

.node__content {
    font-size: $font-size-md;
}

.featured-bottom .block-views {
    padding-bottom: 2.5rem;
}

.featured-bottom-first {
    background-color: $blue-gray-50;
}

.featured-bottom-second {
    background-color: $blue-gray-100;
}

/* GENERAL STYLES
-------------------------------------------------*/

// Headings
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
    font-family: $font-family-serif;
}

h1.title {
    margin-bottom: 3rem;
    &:after {
        content: "";
        display: block;
        border-bottom: 8px solid $secondary-shade;
        width: 100px;
        position: relative;
        bottom: -6px;
    }
}

// Images
img {
    max-width: 100%;
    height: auto;
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: all linear .2s;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.node a,
.card a,
#block-contact a {
    &:not(.btn) {
        border-bottom: $link-border;
        &:hover {
            border-bottom: $link-border-hover;
        }
    }
}

.node__content {
    h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    h3 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}

// Buttons
.btn-primary {
    background-color: $button-color;
    border-color: $button-color;
    border-radius: 0;
    &:hover, 
    &:focus {
        background-color: $button-hover-color;
        border-color: $button-hover-color;
    }
}

.btn-outline-dark {
    color: $button-color;
    border-color: $button-color;
    &:hover, 
    &:focus {
        //background-color: $button-hover-color !important;
        color: $white;
        background-color: $button-hover-color;
        border-color: $button-hover-color;
    }
}

.nav-pills {
    .nav-link {
        background: none;
        font-weight: 600;
        border-radius: 0;
        padding: .5rem;
        font-size: 1.125rem;
        color: $button-color;
        &.active {
            border-bottom: 4px solid $button-color;
            background: none;
            color: $button-color;
        }
        &:hover {
            &:not(.active) {
                border-bottom: 4px solid $button-color;
            }
        }
    }
}

// Icons
[class^="bi"]::after,
[class*=" bi-"]::after {
  display: inline-block;
  font-family: $font-bs-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: -.125em;
  padding-left: .45em;
  -webkit-font-smoothing: grayscale;
}

.bi-box-arrow-up-right::after {
  content: "\f1c5";
}

.bi-box-arrow-up-right::before {
  content: "";
}

// Tables
.table {
    font-size: 1rem;
    thead {
        tr {
            background: none !important;
            border-bottom: 2px solid $primary-light;
            th {
                color: var(--bs-body-color);
                padding-bottom: .25rem !important;
                border: none;
                background: none !important;
                a {
                    color: $accent-shade;
                    .tablesort {
                        background-color: $accent-shade;
                        vertical-align: baseline;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            background: $blue-gray;
            &:nth-of-type(odd) {
                background: $blue-gray-50;
                --bs-table-accent-bg: none !important;
            }
        }
        td {
            vertical-align: middle;
            &.views-field-title {
                font-weight: bold;
                padding: .75rem .75rem;
            }
            &.views-field-body {
                font-size: $font-size-sm;
            }
            p {
                margin: 0;
            }
        }
    }
}

// Lead
.lead {
    strong {
        font-weight: 600;
    }
}

/* TOP BAR
--------------------------------------------------*/

.menu-bbma-btn {
    font-family: $font-bs-icons;
    font-size: $font-size-xl;
    &:before {
        content: "\f479";
    }
}

/* HEADER
--------------------------------------------------*/

.header {
    // box-shadow: 0px 0px 10px rgba(52,58,64,.8);

    // common styles for navbar-brand used in different ways in the header (.navbar-image and #navbar-main)
    .navbar-brand {
        font-family: $font-family-serif;
        color: $white;
        padding: 0;

        &:after {
            content: '+';
            vertical-align: middle;
            line-height: 0;
            position: relative;
            left: -0.30rem;
            font-weight: lighter;
        }
    }
}

.region-header-image {
    --bs-gutter-y: 0;
    --bs-gutter-x: 0;
    position: relative;
    height: 280px;

    .site-identity {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;

        .navbar-brand {
            font-size: $h1-font-size;
            font-size: 4.5rem;
            font-weight: 600;
            // margin-top: 0.3125rem;
            // margin-bottom: 0.3125rem;
            text-shadow: 1px 2px 3px rgba(0,0,0,.65);
            &:after {
                left: -0.8rem;
            }
        }
        .site-name-slogan {
            font-family: $font-family-serif;
            font-size: 2.25rem;
            font-weight: 600;
            color: $white;
            text-shadow: 1px 2px 3px rgba(0,0,0,.65);
        }
    }

    .header-image {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        align-content: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;

        &:before {
            background: linear-gradient(
                0deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.15) 15%, transparent 40%);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
        }
    }
}

/* NAVBAR / MAIN MENU 
--------------------------------------------------*/

// Navbar main
#navbar-main {
    padding: 0;

    .navbar-brand {
        font-variant: small-caps;
        font-size: $h3-font-size;
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
        &:after {
            left: -0.30rem;
            font-size: 1.25rem;
        }
    }
}

.navbar {
    font-family: $font-family-serif;

    a {
        color: $white;
        &:hover {
            color: $secondary-shade;
        }
    }

    .nav-link {
        font-size: $font-size-md;
        padding: .75rem !important;
        &.active {
            color: $secondary-light;
        }
        &:hover, &:focus {
            color: $secondary-shade;
            background: $primary-light;
        }
    }
}

// Main menu
.dropdown-toggle::after {
    font-family: $font-bs-icons;
    font-size: $font-size-xs;
    content: "\f282";
    border: none;
    line-height: 0;
    vertical-align: middle;
}

.dropdown-menu {
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: $primary-lighter;
    border-radius: initial;
    border: none !important;
    box-shadow: 1px 1px 6px rgba(52,58,64,.6);

    .dropdown-item {
        padding: 0;
        &:hover {
           color: $secondary-shade; 
        }
        &.active {
            color: $secondary-light;
        }
        &.active, &:hover {
            background: none !important;
        }
        a {
            display: block;
            color: $white;
            padding: 0 .75rem;
            margin: .75rem 0;
            &:hover {
                color: $secondary-shade; 
            }
            &.active {
                color: $secondary-light;
            }
            &.active,
            &:hover {
                background: none !important;
            }
        }
    }
}

// Navbar-form
.navbar-form {
    .region-header-form {
        justify-content: flex-end;

        .block-language,
        .block-menu {
            flex-basis: content;
            width: auto;
        }

        .block-menu {
            .nav-link {
                i {
                    vertical-align: middle;
                }
            }
        }

        .block-language {
            .links-inline {
                flex-wrap: nowrap;
            }
            .nav-link a {
                font-family: $font-family-sans-serif;
                text-transform: uppercase;
                opacity: .6;
                &.is-active, 
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.menu--account li a {
  color: $primary-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

/* BREADCRUMB
--------------------------------------------------*/

.breadcrumb {
    font-size: $font-size-sm;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: .9px solid $blue-gray-100;

    .breadcrumb-item + .breadcrumb-item::before {
        font-family: $font-bs-icons;
        font-size: $font-size-xs;
        content: $breadcrumb-divider;
        color: $blue-gray-300;
        position: relative;
        top: 3px;
    }
}

/* BOOK NAVIGATION
--------------------------------------------------*/

.book-navigation {
    .book-pager {
        margin-top: 2rem !important;
        padding: 1rem 0 !important;
        font-size: $font-size-md;
        border: none;
        border-top: 0.9px solid $blue-gray-100;

        .book-pager__item--next {
            &:after {
                font-family: $font-bs-icons;
                font-size: 1rem;
                content: $book-pager-next;
                font-weight: bold;
                color: $accent-shade;
                position: relative;
                top: 2px;
            }
        }
        .book-pager__item--previous {
            &:before {
                font-family: $font-bs-icons;
                font-size: 1rem;
                content: $book-pager-prev;
                font-weight: bold;
                color: $accent-shade;
                position: relative;
                top: 2px;
            }
        }
    }
}


/* HOME PAGE
--------------------------------------------------*/

.path-frontpage {
    .header-image {
        background-position: center -223px;
    }
}

.node__content,
.field--name-body {
    > .lead {
        margin-top: 3rem;
    }
}

// Bloc encadré Home
.card-home {
    background: $blue-gray;
    .card-body {
        padding: 2rem;
        h2 {
            margin-bottom: 1.5rem;
            &:after {
                content: "";
                display: block;
                border-bottom: 2px solid var(--bs-body-color);
                width: 100px;
                position: relative;
                bottom: -6px;
            }
        }
        p {
            font-size: $font-size-md;
            margin-bottom: 1.5rem;
        }
    }

    .card-home-image {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $primary-light;
        
        a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover {
                filter: opacity(85%);
            }
        }
    }

    // &.card-bbma {
    //     .card-home-image {
    //         background-image: url('/sites/default/files/home/btv1b52505441p_f20_cropped.jpg');
    //     }
    // }
    // &.card-aap {
    //     .card-home-image {
    //         background-image: url('/sites/default/files/home/btv1b105470461_f740_cropped.jpg');
    //     }
    // }
}

// Bloc Home : icône + titre + texte
.block-home {
    text-align: center;
    .bi {
        font-size: 5rem;
        color: $blue-gray-300;
        line-height: 1.25;
    }
    p {
        font-size: $font-size-base;
        margin-top: 1rem;
    }
}

// Liste des actus
.news-home {
    border-radius: 0;
    margin-bottom: 1rem;

    li {
        padding: 1rem;
        border: 1px solid $blue-gray-100;
        color: $gray-600;

        p {
            margin-bottom: .25rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .news-date {
            font-weight: 600;
        }
        .news-title {
            font-size: $font-size-xl;
            font-weight: 600;
        }
        .news-summary {
            font-size: $font-size-md;
        }
        &:nth-child(even) {
            background: $blue-gray;
        }
    }
}

// Boutons "sociaux" : icône + texte
.social-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    .item-list {
        text-align: center;
        li {
            margin-bottom: 3rem;
        }
    }  
}

// Card ressource Bbma Home : image + icône + texte
.card-resource {
    .card-image {
        a {
            position: relative;
            .bi {
                font-size: 5rem;
                color: #f9f9f9;
                position: absolute;
                z-index: 1000;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-shadow: 1px 1px 5px rgba(0,0,0,.7);
            }
            img {
                opacity: .75;
                filter: grayscale(75%);
            }
            &:hover img {
                opacity: 1 !important;
                filter: grayscale(0%);
            }
        }
    }
}

// Boutons icône + texte
.view-cards-accueil,
.view-clusters {
    .views-view-grid {
        .row {
            justify-content: space-evenly;
        }
        .card {
            box-shadow: none;
            a {
                border: none;
            }
        }
    }
}

.view-cards-accueil {
    .views-view-grid {
        .card {
            margin-bottom: 0;
        }
    }
}

.icon-link-lg {
    display: inline-block;
    font-size: $font-size-xl;
    line-height: 1.25;
    text-align: center;
    i {
        display: block;
        font-size: 3.5rem;
    }
}


/* CONTENT
--------------------------------------------------*/

// Content header box
.header-content {
    background: $blue-gray;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;

    &:before, 
    &:after {
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
    }

    &:after {
        right: 0;
        bottom: 0;
        border-right: 3px solid $primary-light;
        border-bottom: 3px solid $primary-light;
    }

    &:before {
        left: 0;
        top: 0;
        border-left: 3px solid $primary-light;
        border-top: 3px solid $primary-light;
    }

    > .field {
        margin-bottom: 1rem;
        .field__label {
            font-weight: 600;
        }
    }

    .field--name-field-coordinateur .field__label {
        margin-bottom: .5rem;
    }

    .field--name-field-collection-zenodo {
        margin-top: 2rem;
    }
}

.field--name-field-image-projet {
    margin-top: 2rem;
    .field--type-image {
        float: none !important;
    }
    .image-field-caption {
        font-size: $font-size-base;
    }
}

.field--name-field-media-logo {
    text-align: center;
    img {
        max-width: 300px;
    }
}

.tile {
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
    }
    > div {
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        .tile-text {
            display: flex;
            flex-flow: column;
            flex: 1;
        }
    }
    svg {
        color: $primary-light;
    }
    p {
        margin-top: 1rem;
        text-align: left;
    }
}

.tile-top {
    &:nth-child(odd) {
        background-color: $blue-gray-50;
        &:before {
            left: 0;
            top: 0;
            border-left: 2px solid $primary-light;
            border-top: 2px solid $primary-light;
        }
        &:after {
            right: 0;
            bottom: 0;
            border-right: 2px solid $primary-light;
            border-bottom: 2px solid $primary-light;
        }
    }
    &:nth-child(even) {
        &:before {
            right: 0;
            top: 0;
            border-right: 2px solid $primary-light;
            border-top: 2px solid $primary-light;
        }
    }
}

.tile-bottom {
    &:nth-child(odd) {
        &:before {
            left: 0;
            bottom: 0;
            border-left: 2px solid $primary-light;
            border-bottom: 2px solid $primary-light;
        }
    }
    &:nth-child(even) {
        background-color: $blue-gray-50;
        &:before {
            left: 0;
            top: 0;
            border-left: 2px solid $primary-light;
            border-top: 2px solid $primary-light;
        }
        &:after {
            right: 0;
            bottom: 0;
            border-right: 2px solid $primary-light;
            border-bottom: 2px solid $primary-light;
        }
    }
}

@include media-breakpoint-up(lg) {
    .field--name-field-media-logo {
        flex: 0 0 auto;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* SEARCH PAGE
--------------------------------------------------*/

.view-recherche {
    .item-list {
        ol > li {
            margin-bottom: 1.5rem;
        }

        .list-group-item {
            padding-top: 0;
            color: $gray-600;
        }

        .views-field-title {
            h2 {
                font-size: $h3-font-size;
            }
        }
    }
}


/* REGION "TABBED BLOCKS"
--------------------------------------------------*/

.region-tabbed-blocks {
    margin-top: 2rem;

    .nav {
        justify-content: center;
        border-bottom: 1px solid $blue-gray-100;
        .nav-item {
            margin-right: 1rem;
        }
    }

    .tab-content {
        padding-top: 1rem;
        .block-views {
            margin-top: 0;
        }
    }
}


/* VIEWS
--------------------------------------------------*/

.block-views {
    margin-top: 3rem;

    > h2,
    > .lead,
    .view-header {
        margin-bottom: 2rem;
    }
    .view-footer {
        margin-top: 2rem;
    }
}

.featured-bottom,
.region-content-home-second {
    .block-views {
        > h2 {
            &:after {
                content: "";
                display: block;
                border-bottom: 8px solid var(--bs-body-color);
                width: 100px;
                position: relative;
                bottom: -6px;
            }
        }
    }
}

.view-header {
    margin-bottom: .5rem;
}

.view-filters {
    display: inline-block;
    margin-bottom: 1rem;

    .form-row {
        display: flex;

        > fieldset,
        > div {
            padding-right: 1rem;
            padding-left: 0;
        }

        label {
            font-weight: 600;
        }
    }

    .form-select {
        min-width: 150px;
        border-radius: 0;
    }
}

.card-logo-single {
    .card {
        margin-bottom: 1rem;
        .card-logo {
            margin-bottom: 0 !important;
            img {
                opacity: .6;
                filter: grayscale(100);
            }
            a:hover img {
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }
}

.grid .card,
.node--type-cluster .card {
    margin-bottom: 1.5rem;
}

.card {
    // border: solid $blue-gray-100;
    // border-width: 1px 1px 2px;
    border: none;
    box-shadow: 0 1px 2px 1px rgba(60,64,67,.25);

    .card-logo,
    .card-image {
        padding: 0 !important;
        margin-bottom: .5rem;
        a {
            display: block;
            border: none;
            &:hover {
                border: none;
            }
        }
        a:hover img {
            opacity: .75;
            /*filter: brightness(100%);*/
        }
        img {
            width: 100%;
            height: auto;
            transition: .3s ease-in-out;
            /*filter: brightness(85%);*/
        }
    }

    .card-image {
        &.views-field {
            background: $accent-dark;
        }
    }

    .card-logo {
        background-color: #f6f8f9;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            vertical-align: middle;
            width: auto;
            max-width: 95%;
            min-width: 130px;
            max-height: 130px;
            object-fit: contain;
        }
    }

    > .views-field:not(.card-logo),
    > .views-field:not(.card-image) {
        padding: 0 1rem;
        margin-bottom: .5rem;

        h3 {
            font-size: 1.25rem;
            margin-top: .5rem;

            a {
                border: none;
            }
        }

        p,
        span,
        .list-group-item {
            font-size: $font-size-sm;
            margin-top: 0;
            padding: 0;
            margin-bottom: .5rem;
            border-bottom: none;
        }
    }
}

.field-image-placeholder {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: $blue-gray;
    .bi {
        font-size: 5rem;
        color: $blue-gray-300;
    }
}

.card-prezi,
.card-user {
    .card-body { 
        > div {
            margin-bottom: .25rem;
            font-size: $font-size-sm;
        }
    }
}

.card-prezi {
    .card-body {
        .views-field-title h3 {
            font-size: $font-size-lg;
        }
    }
}

.card-user {
    .field-user-picture {
        height: 100%;
        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            vertical-align: middle;
            object-fit: cover;
            margin-bottom: 0;
        }
    }

    .card-body {
        > div {
            margin-bottom: .5rem;
            .field--type-entity-reference {
                margin-bottom: 0;
            }
        }
        .field-user-fullname {
            font-size: $font-size-lg;
        }
        .views-field-field-suppleant {
            font-weight: 600;
        }
    }
}


/* FOOTER
--------------------------------------------------*/

footer.site-footer {
    background: $primary-light !important;
    font-family: $font-family-sans-serif;

    .site-footer__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .region {
            float: none;
            display: flex;         
        }
        .block, 
        .block-menu {
            h2 {
                border: none;
            }
            p {
                margin: 0;
            }
        }
    }

    .nav-link {
        display: inline-block;
        color: $blue-gray-100;
        font-size: $font-size-sm;
        &:hover {
            color: $secondary-shade;
        }
    }

    .content {
        color: $blue-gray-100;
        font-size: $font-size-sm;
    }

    .menu--footer {
        .nav-item {
            &:first-child {
                .nav-link {
                    padding-top: 0;
                }
            }
            .nav-link {
                font-family: $font-family-serif;
                padding: .25rem 0;
            }
        }
    }

    .menu--menu-suivez-nous {
        a {
            font-size: $font-size-xxl;
            padding: .5rem 0;
            margin-right: 1.5rem;
        }
    }
}

.region-footer-fourth {
    flex-grow: 2;
}

#block-iafooter {
    .field--name-body {
        display: flex;
        align-items: center;
        img {
            margin-bottom: 0;
            /*filter: grayscale(100%);*/
            filter: opacity(0.8);
            max-width: none;
        }
        p {
            padding-left: .5em;
        }
    }
}


/* INTRANET
--------------------------------------------------*/

.table-liste-candidatures {
    .item-list {
        .list-group-item {
            background: none;
            border: none;
        }
    }
    .evaluation-in-progress {
        i {
            margin-right: .125rem;
        }
    }
}

.node--type-dossier-candidature {
    .node__content {
        > .field {
            margin-bottom: 1.5rem;
            .field__label {
                font-weight: 600;
            }
        }
    }
}


.cadre-reserve {
    border-color: rgba(var(--bs-danger-rgb), .7);
    .seven-details__summary {
        font-weight: normal;
        color: rgba(var(--bs-danger-rgb), .7);
    }
}

.nav-eval {
    .nav-link {
        margin-right: 1rem;
        font-weight: 600;
        &.btn-outline-primary {
            &:hover {
                color: $white;
            }
        }
    }
}

/* EVALUATIONS
--------------------------------------------------*/

details {
    border-color: $blue-gray-100;
    summary {
        font-size: $font-size-md;
        font-weight: bold;
        color: $link-color;
    }
    .field__label {
        font-weight: 600;
    }
}



/* MEDIA QUERIES
--------------------------------------------------*/

@include media-breakpoint-up(xs) {
    footer.site-footer {
        .site-footer__top .region {
            width: 100%;
            &:nth-child(2n) {
                padding-left: 0;
            }
            .block, 
            .block-menu {
                width: 100%;
                margin: 0;
                padding: 1rem 0;
                border-top-style: none;
                border-left-style: none;
                border-right-style: none;
                border-bottom: .9px solid $blue-gray-300;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    footer.site-footer {
        .site-footer__top .region {
            width: 50%;
            .block, 
            .block-menu {
                margin: 1rem 0;
                padding: 0 1rem;
                border-left: .9px solid $blue-gray-300;
                border-top-style: none;
                border-bottom-style: none;
                border-right-style: none;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    footer.site-footer {
        .site-footer__top .region {
            width: 24%;
            .block, 
            .block-menu {
                
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    #navbar-main .navbar-brand {
        margin-right: 3rem !important;
    }
    .block-menu .navbar-nav {
        flew-wrap: nowrap;
    }
}

/*  
--------------------------------------------------*/

.bg-dark {
  background: $primary-light !important;
}

.bg-inverse {
  background: $primary-shade !important;
}


.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick>div {
  margin: 0 15px;
}
