/* VARIABLES */

// colors
$primary-shade: rgb(30,48,62); // #1e303e
$primary-lighter: lighten($primary-shade, 5%); // #263d4f
$primary-light: lighten($primary-shade, 10%); // #2f4b60
$primary-dark: darken($primary-shade, 5%); // #16232d
$secondary-shade: rgb(254,212,67); // #fed443
$secondary-light: lighten($secondary-shade, 10%); // #fee076
$accent-shade: #487294; // lighten($primary-shade, 25%);
$accent-light: lighten($accent-shade, 30%);
$accent-dark: darken($accent-shade, 15%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-600: #757575;
$gray-800: #343a40;
$blue-gray: #f6f7f8;
$blue-gray-50: #ECEFF1;
$blue-gray-100: #CFD8DC;
$blue-gray-300: #90A4AE;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-border: .9px solid $accent-light;
$link-border-hover: .9px solid $accent-dark;
$link-hover-color: $accent-dark;
$link-hover-decoration: none;
$button-color: $accent-shade;
$button-hover-color: $accent-dark;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
$breadcrumb-divider: quote("\f285"); // chevron-right
// Book navigation
$book-pager-next: quote("\f285");
$book-pager-prev: quote("\f284"); // chevron-left
// Table
$table-border-width: 3px;
