{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set image_url = file_url(content.field_background_image_card['#items'].entity.uri.value) %}
{%
  set classes = [
    'container',
    'card',
    'card-home',
    'mt-5',
    'g-0'
  ]
%}
{% set image_position = content.field_disposition_image['#items'].getString() %}
{% set btn_title = content.field_bouton_lien.0['#title'] %}
{% set btn_url = content.field_bouton_lien.0['#url'] %}

<div{{ attributes.addClass(classes) }}>
  <div class="row {{ (image_position == 'droite') ? 'flex-row-reverse' : '' }}">
    <div class="col-md-5">
      <div class="card-body">
        <h2>{{ content.field_titre }}</h2>
        {{ content.body }}
        <p><a role="button" class="btn btn-lg btn-primary" href="{{ btn_url }}">{{ btn_title }}</a></p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card-home-image">
        <a href="{{ btn_url }}" style="background-image: url({{ image_url }});"></a>
      </div>
    </div>
  </div>
</div>
