{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <section{{ attributes.addClass(classes) }}>
    {# {{ content }} #}
    <ul class="nav nav-pills flex-column flex-sm-row">
    {% for key, value in tabs_nav %}
      <li class="nav-item" role="presentation">
        <button class="nav-link btn-primary {{ loop.first ? 'active' : '' }}" id="{{ key }}-tab" data-bs-toggle="tab" data-bs-target="#{{ key }}" type="button" role="tab" aria-controls="{{ key }}" aria-selected="{{ loop.first ? 'true' : '' }}">{{ value }}</button>
      </li>
    {% endfor %}
    </ul>
    <div class="tab-content">
      {% for key, value in tabs_content %}
        <div class="tab-pane fade {{ loop.first ? 'show active' : '' }}" id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}-tab">
          {{ value }}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
