{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{#<article{{ attributes.addClass('profile') }}>#}
{% if content %}
  {#{{- content -}}#}
  <div class="card card-user">
    <div class="row g-0">
      <div class="col-sm-4">
        {%- if content.user_picture|render is not empty -%}
          <div class="field-user-picture">
            {{ content.user_picture }}
          </div>
        {%- else %}
          <div class="field-image-placeholder">
            <i class="bi bi-person-fill"></i>
          </div>
        {%- endif %}
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <div class="field-user-fullname">{{ content.field_prenom|render|striptags }} {{ content.field_nom|render|striptags|upper }}</div>
          {%- if content.field_fonction|render is not empty -%}
            <div class="field-user-fonction">{{ content.field_fonction }}</div>
          {%- endif %}
          {%- if content.field_etablissement|render is not empty -%}
            <div class="field-user-etablissement">{{ content.field_etablissement }}</div>
          {%- endif %}
          <div class="field-partner-user">{{ content.field_partner_user }}</div>
          {%- if content.field_site|render is not empty -%}
            <div class="field-site"><a href="{{ content.field_site|render|striptags }}" target="_blank">{{ 'Web page'|t }}</a></div>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{#</article>#}
